
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1502350751991'); /* IE9*/
  src: url('iconfont.eot?t=1502350751991#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1502350751991') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1502350751991') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1502350751991#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-jia:before { content: "\e652"; }

.icon-weixin-copy:before { content: "\e6b4"; }

.icon-tianjiahaoyou:before { content: "\e67e"; }

.icon-wo:before { content: "\e68a"; }

.icon-faxian:before { content: "\e6a4"; }

.icon-wo1:before { content: "\e6a6"; }

.icon-address-book:before { content: "\e501"; }

.icon-faxian1:before { content: "\e502"; }

.icon-tongxunlu:before { content: "\e505"; }

.icon-weixin:before { content: "\e66d"; }

.icon-tongxunlu1:before { content: "\e503"; }

.icon-dongzuo:before { content: "\e608"; }

.icon-jingsu:before { content: "\e60a"; }

.icon-qiapai:before { content: "\e60b"; }

.icon-jingyingcelve:before { content: "\e60c"; }

.icon-maoxian:before { content: "\e60d"; }

.icon-ziyuan:before { content: "\e611"; }

.icon-xiuxianfangzhi:before { content: "\e612"; }

.icon-wenzi:before { content: "\e613"; }

.icon-tiyu:before { content: "\e614"; }

.icon-gedou:before { content: "\e615"; }

.icon-ziyuan1:before { content: "\e616"; }

.icon-bianjituijian:before { content: "\e6d4"; }

.icon-dong:before { content: "\e6d5"; }

.icon-guanggao:before { content: "\e6d6"; }

.icon-chun:before { content: "\e6d7"; }

.icon-shenghuo:before { content: "\e6d8"; }

.icon-suoyin:before { content: "\e6d9"; }

.icon-wodezhuifan:before { content: "\e6da"; }

.icon-youxi:before { content: "\e6db"; }

.icon-zhibo:before { content: "\e6dc"; }

.icon-yule:before { content: "\e6dd"; }

.icon-fanhui:before { content: "\e602"; }

.icon-xiayibu:before { content: "\e603"; }

.icon-chaxun:before { content: "\e606"; }

.icon-saoma:before { content: "\e607"; }

.icon-shezhi:before { content: "\e609"; }

.icon-yuyin:before { content: "\e60e"; }

.icon-guanzhu:before { content: "\e60f"; }

.icon-yiguanzhu:before { content: "\e610"; }

.icon-liaotian:before { content: "\e617"; }

.icon-kejian:before { content: "\e618"; }

.icon-bukejian:before { content: "\e619"; }

.icon-xihuan:before { content: "\e61a"; }

.icon-xiangji:before { content: "\e61b"; }

.icon-pengyoutuijian:before { content: "\e61c"; }

.icon-weizhi:before { content: "\e61d"; }

.icon-gerenshezhi:before { content: "\e61e"; }

.icon-fenlei:before { content: "\e61f"; }

.icon-wodeshoucang:before { content: "\e622"; }

.icon-xiaoxi:before { content: "\e624"; }

.icon-zhuye:before { content: "\e625"; }

