<ion-header-bar align-title="center" class="bar-dark">
    <div class="buttons" ui-sref="setting">
        <span class="iconfont icon-fanhui">设置</span>
    </div>
    <h1 class="title">新消息通知</h1>
</ion-header-bar>
<div class="margin-top"></div>
<!--<span class="icon"> ></span>-->
<ion-list class="myion myitem">
    <ion-item class="item item-divider"></ion-item>
    <ion-item class="item item-icon-right"> 接受新消息通知
        <label class="toggle icon">
        <input type="checkbox">
        <div class="track"><div class="handle"></div></div>
    </label></ion-item>
    <ion-item class="item item-icon-right">接受语音和视频聊天邀请通知   <label class="toggle icon">
        <input type="checkbox">
        <div class="track"><div class="handle"></div></div>
    </label></ion-item>
    <ion-item class="item item-divider"></ion-item>
    <ion-item class="item item-icon-right">通知显示消息详情   <label class="toggle icon">
        <input type="checkbox">
        <div class="track"><div class="handle"></div></div>
    </label></ion-item>
    <ion-item class="item item-divider">关闭后,当收到微信消息时,通知提示将不显示发信人和内容摘要</ion-item>
    <ion-item class="item item-icon-right">功能消息免打扰 <span class="icon"> ></span></ion-item>
    <!--<ion-item class="item item-icon-right">关于微信<span class="icon"> ></span></ion-item>-->
    <ion-item class="item item-divider">设置系统功能消息提示声音和振动的时段</ion-item>
    <ion-item class="item item-icon-right">声音  <label class="toggle icon">
        <input type="checkbox">
        <div class="track"><div class="handle"></div></div>
    </label></ion-item>
    <ion-item class="item item-icon-right">振动  <label class="toggle icon">
        <input type="checkbox">
        <div class="track"><div class="handle"></div></div>
    </label></ion-item>
    <ion-item class="item item-divider">当微信在运行时,你可以设置是否需要声音或振动.</ion-item>
</ion-list>