<ion-header-bar align-title="center" class="bar-dark">
    <div class="buttons" ui-sref="me">
        <span class="iconfont icon-fanhui">我</span>
    </div>
    <h1 class="title">设置</h1>
</ion-header-bar>
<div class="margin-top"></div>
<ion-list class="myion">
    <ion-item class="item item-divider"></ion-item>
    <ion-item class="item item-icon-right"> 账号与安全 <span class="icon"> ></span></ion-item>
    <ion-item class="item item-divider"></ion-item>
    <div ui-sref="message">
        <ion-item class="item item-icon-right">新消息与通知 <span class="icon"> ></span></ion-item>
    </div>
    <ion-item class="item item-icon-right">隐私 <span class="icon"> ></span></ion-item>
    <ion-item class="item item-icon-right">通用 <span class="icon"> ></span></ion-item>
    <ion-item class="item item-divider"></ion-item>
    <ion-item class="item item-icon-right">帮助与反馈 <span class="icon"> ></span></ion-item>
    <ion-item class="item item-icon-right">关于微信<span class="icon"> ></span></ion-item>
    <ion-item class="item item-divider"></ion-item>
    <ion-item class="item item-icon-right">实验室<span class="icon"> ></span></ion-item>
    <ion-item class="item item-divider"></ion-item>
    <ion-item class="item item-icon-right">退出登录 <span class="icon"> ></span></ion-item>
</ion-list>