<ion-content>
    <ion-header-bar align-title="center" class="bar-dark">
        <!--<ion-refresher pulling-text="下拉刷新" on-refresh="vm.doRefresh()"></ion-refresher>-->
        <h1 class="title">发现</h1>
    </ion-header-bar>
    <div class="margin-top"></div>

        <ion-list class="myion">
            <ion-item class="item item-divider"></ion-item>
            <ion-item class="item item-icon-right"><i class="iconfont icon-ziyuan"></i>朋友圈 <span class="icon"> ></span></ion-item>
            <ion-item class="item item-divider"></ion-item>
            <ion-item class="item item-icon-right"><i class="iconfont icon-saoma"></i>扫一扫 <span class="icon"> ></span></ion-item>
            <ion-item class="item item-icon-right"><i class="iconfont icon-xiangji"></i>摇一摇 <span class="icon"> ></span></ion-item>
            <ion-item class="item item-divider"></ion-item>
            <ion-item class="item item-icon-right"><i class="iconfont icon-weizhi"></i>附近的人 <span class="icon"> ></span></ion-item>
            <ion-item class="item item-icon-right"><i class="iconfont icon-kejian"></i>漂流瓶 <span class="icon"> ></span></ion-item>
            <ion-item class="item item-divider"></ion-item>
            <ion-item class="item item-icon-right"><i class="iconfont icon-jingsu"></i>购物 <span class="icon"> ></span></ion-item>
            <ion-item class="item item-icon-right"><i class="iconfont icon-xiuxianfangzhi"></i>游戏 <span class="icon"> ></span></ion-item>
            <ion-item class="item item-divider"></ion-item>
            <ion-item class="item item-icon-right"><i class="iconfont icon-wenzi"></i>小程序 <span class="icon"> ></span></ion-item>
        </ion-list>
</ion-content>
<!--<ion-tabs class="tabs tabs-icon-top" id="Home">-->
    <!--<ion-tab  ng-repeat="item in basiclist_data" title="{{item.name}}" icon-on="iconfont {{item.on_icon}} greenicon"-->
              <!--icon-off="iconfont {{item.icon}}" ui-sref="{{item.href}}" >-->
    <!--</ion-tab>-->
<!--</ion-tabs>-->