<ion-header-bar align-title="center" class="bar-dark">
    <h1 class="title">我</h1>
</ion-header-bar>
<div class="margin-top"></div>
<ion-list class="myion">
    <ion-item class="item item-divider"></ion-item>
    <ion-item class="item item-icon-right"><img src="img/1.jpg" alt="" class="userimg"> 蹲墙角画圈圈 <small class="icon"> ></small></ion-item>
    <ion-item class="item item-divider"></ion-item>
    <ion-item class="item  item-icon-right"><i class="iconfont icon-maoxian"></i>钱包 <small class="icon"> ></small></ion-item>
    <ion-item class="item item-divider"></ion-item>
    <ion-item class="item  item-icon-right"><i class="iconfont icon-bianjituijian"></i>收藏 <span class="icon"> ></span></ion-item>
    <ion-item class="item  item-icon-right"><i class="iconfont icon-guanggao"></i>相册 <span class="icon"> ></span></ion-item>
    <ion-item class="item  item-icon-right"><i class="iconfont icon-shenghuo"></i>卡包 <span class="icon"> ></span></ion-item>
    <ion-item class="item  item-icon-right"><i class="iconfont icon-suoyin"></i>表情 <span class="icon"> ></span></ion-item>
    <ion-item class="item item-divider"></ion-item>
    <div ui-sref="setting">
        <ion-item class="item item-icon-left item-icon-right">
            <i class="iconfont icon-shezhi"></i>设置 <span class="icon"> ></span></ion-item>
    </div>
</ion-list>
<ion-tabs class="tabs tabs-icon-top" id="Home">
    <ion-tab  ng-repeat="item in basiclist_data" title="{{item.name}}" icon-on="iconfont {{item.on_icon}} greenicon"
              icon-off="iconfont {{item.icon}}" ui-sref="{{item.href}}" >
    </ion-tab>
</ion-tabs>